/* Feed.module.css */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the popup appears on top of other content */
  }
  
  
  .popupContent {
    background: #fff; /* White background for the popup content */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .InputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  
  button {
    background: #007bff; /* Blue button background color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .closeButton {
    margin: auto; /* Center horizontally */
    margin-top: 15px; /* Adjust as needed */
  }
  
  
  button:hover {
    background: #0056b3; /* Darker blue on hover */
  }
  
  .title strong {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .photoSection {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .jobPhoto {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    display: block; 
    margin: 0 auto; 
  }
  
  .detailsItem strong{
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    
  }
  
  .infoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 15px;

    /* background-color: #0056b3; */
  }
  
  .description {
    font-size: 16px;
  }
  