.SideBar {
   height: 100vh;
   width: 250px;
   background-color: blue;
}

.title {
   display:flex;
   justify-content: center;
}

.SideBarList {
height: auto;
padding: 0;
background-color: aqua;
}

.SideBarList .categoryRow {
width: 100%;
height: 50px;
border: 1px solid black;
list-style-type: none;
margin: 0%;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
}

.SideBarList .categoryRow:hover{
   cursor: pointer;
   background-color: #293846;
}

.SideBarList #active{
   cursor: pointer;
   background-color: #293846;
}