.SideBar {
   width: 250px;
   border-radius: 10px;
   background-color: rgb(35, 38, 39);
}

.Title {
   display: flex;
   justify-content: center;
   align-items: center;
 
   height: 40px;
   color: white;
}

.SideBarList {
height: auto;
padding: 0;
background-color: #3e494b;
}

.SideBarList .categoryRow {
width: 100%;
height: 50px;
/* border: 1px solid black; */
list-style-type: none;
margin: 0%;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
}

.SideBarList .categoryRow:hover{
   cursor: pointer;
   background-color: #293846;
}

.SideBarList #active{
   cursor: pointer;
   background-color: #293846;
}