.SideBar {
   height: 100%;
   width: 250px;
   background-color: blue;
}

.SideBar-list {
height: auto;
padding: 0;
background-color: aqua;
}

.SideBar-list .category-row {
width: 100%;
height: 50%;
border: 1px solid black;
list-style-type: none;
margin: 0%;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
}