.Title{
    padding-left: 35px;
    font-size: 40px;
  
    color:white;
    /* background-color: red; */
  }

.Feed{
    width: 150dvh;
    height: 100dvh;
    background-color: bisque;
}

.RequestsContainer{
    display: flex;
    justify-content: space-between;

    width: 130dvh;
    height: 30dvh;

    background-color: lightgray;
}

.RequestsPhotos {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30dvh;

    background-color: cadetblue;
}

.Photos {
    border-radius: 10px;
}

.RequestsDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    width: 30dvh;

    background-color: lightpink;
}

.IsRequestFor{

}

.RequestsButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
    width: 30dvh;

    background-color: lightgreen;
}