.feed {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: yellow; /* Optionally, reset the background */
  }

.grid {
    width: 500px;
    height: 100vh; /* 100% viewport height */
    background-color: green;
}