.feed {
    display: flex;
    width: 750px;
    background-color: orange; /* Optionally, reset the background */
  }

.grid {
    width: 750px;
    height: 100vh; /* 100% viewport height */
    background-color: green;
}