.feed {
  display: flex;
  flex-wrap: wrap; /* Allow posts to wrap to the next line */
  justify-content: space-between; /* Evenly distribute space between posts */
  width: 750px;
  background-color: orange;
  padding: 10px; /* Add padding to create space around posts */
  overflow: auto;
}

.post {
  width: calc(50% - 10px); /* Calculate 50% of the container width with spacing */
  height: auto; /* Remove fixed height to allow posts to adjust their height based on content */
  margin-bottom: 20px; /* Add margin to create space around and between posts */
  padding: 10px; /* Add padding to create space inside each post */
}

.item {
  width: 300px;
  height: 280px;
  background-color: #fb7185;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: 10px solid var(--clr-accent);
  border-radius: 10px;
}

.jobButtonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  height: 25%;
}
