* {
    box-sizing: border-box;
}

body {
   margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.results {
    font-size: inherit;
    color: #090808;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0; 
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: #fff;
    text-decoration: none; 
}

.nav li {
    display: flex;
    justify-content: center;
}

.nav button {
    color: #fff; 
    font-family: inherit;
    font-size: inherit;
    background-color: #333; 
    border: none; 
    padding: 8px 12px; 
    margin: 4px; 
}

.nav button:hover {
    background-color: #555; 
}

.search-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .search-bar-container ul.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #564848;
    border: 1px solid #ddd;
    padding: 8px;
    list-style: none;
    margin: 0;
  }