.App {
    background-color: #eee;
    height: 100vh;
    width: 100vh;
}

.search-bar-continer {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}