
.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh; 
    padding: 1rem 0.5rem;

    color: white;
}

 section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    max-width: 600px;
    min-height: 400px;
    padding: 2rem;
    border-radius: 10px;

    background-color: #222527;
  
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

label,
button {
    margin-top: 1.5rem;
}
  
button {
    padding: 0.75rem;
}
  

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}